.main {
  display: grid;
  grid-template-columns: 0.7fr 16px 1.3fr;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
}

.right {

}

.deviceList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}